* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-style: inherit;
  font-size: 50px;
  color: rgb(252, 235, 8);
}
p {
  margin-top: 70px;
  font-size: 20px;
  color: rgb(200, 255, 0);
  font-style: oblique;
  position: absolute;
}

body {
  height: 100vh; /* vh = 1% viewport height*/
  background: blue;
  display: flex;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card.flip {
  transform: rotateY(180deg);
}
